@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
.body{
    background: url(./Assets/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
#score{
    position: absolute;
    top:9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#board{
    background: linear-gradient(rgb(13 122 95 / 65%), rgba(128, 172, 175, 0.42));
    width: 90vmin;
    height: 92vmin;
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
.head{
    background: linear-gradient(rgb(198, 70, 70), rgb(212, 212, 149));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.12);
    border-radius: 9px;
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 20px;
}